<a href="https://colab.research.google.com/github/thelemoncookie-data/01_Project/blob/main/Sales_Predictions_Part_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [3]:
sales_predictions = pd.read_csv('/content/drive/MyDrive/02 Week 2: Pandas/sales_predictions (2).csv')

In [4]:
sales_predictions.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

In [ ]:
sales_predictions.shape

(8523, 12)

In [ ]:
sales_predictions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            8523 non-null   object
 1   Item_Weight                7060 non-null   float64
 2   Item_Fat_Content           8523 non-null   object
 3   Item_Visibility            8523 non-null   float64
 4   Item_Type                  8523 non-null   object
 5   Item_MRP                   8523 non-null   float64
 6   Outlet_Identifier          8523 non-null   object
 7   Outlet_Establishment_Year  8523 non-null   int64
 8   Outlet_Size                6113 non-null   object
 9   Outlet_Location_Type       8523 non-null   object
 10  Outlet_Type                8523 non-null   object
 11  Item_Outlet_Sales          8523 non-null   float64
dtypes: float64(4), int64(1), object(7)
memory usage: 799.2+ KB

In [ ]:
sales_predictions.duplicated().sum()

0

In [5]:
sales_predictions = sales_predictions.drop(columns=['Item_Weight', 'Outlet_Size'])

In [ ]:
## These cols dont contribute much to sales perdictions. Outlet size might contribute
# a little bit but location and outlet type might assist with that.

In [6]:
sales_predictions.isnull().sum()

Item_Identifier              0
Item_Fat_Content             0
Item_Visibility              0
Item_Type                    0
Item_MRP                     0
Outlet_Identifier            0
Outlet_Establishment_Year    0
Outlet_Location_Type         0
Outlet_Type                  0
Item_Outlet_Sales            0
dtype: int64

In [ ]:
sales_predictions.Item_Fat_Content.unique()

array(['Low Fat', 'Regular', 'low fat', 'LF', 'reg'], dtype=object)

In [ ]:
sales_predictions['Item_Fat_Content'] = sales_predictions['Item_Fat_Content'].replace('LF', 'Low Fat')
sales_predictions.Item_Fat_Content.unique()

array(['Low Fat', 'Regular', 'low fat', 'reg'], dtype=object)

In [14]:
sales_predictions['Item_Fat_Content'] = sales_predictions['Item_Fat_Content'].replace('reg', 'Regular')
sales_predictions.Item_Fat_Content.unique()

array(['Low Fat', 'Regular'], dtype=object)

In [7]:
sales_predictions

,Item_Identifier,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Tier 1,Supermarket Type1,3735.1380
1,DRC01,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Tier 3,Supermarket Type2,443.4228
2,FDN15,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Tier 1,Supermarket Type1,2097.2700
3,FDX07,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,Tier 3,Grocery Store,732.3800
4,NCD19,Low Fat,0.000000,Household,53.8614,OUT013,1987,Tier 3,Supermarket Type1,994.7052
...,...,...,...,...,...,...,...,...,...,...
8518,FDF22,Low Fat,0.056783,Snack Foods,214.5218,OUT013,1987,Tier 3,Supermarket Type1,2778.3834
8519,FDS36,Regular,0.046982,Baking Goods,108.1570,OUT045,2002,Tier 2,Supermarket Type1,549.2850
8520,NCJ29,Low Fat,0.035186,Health and Hygiene,85.1224,OUT035,2004,Tier 2,Supermarket Type1,1193.1136
8521,FDN46,Regular,0.145221,Snack Foods,103.1332,OUT018,2009,Tier 3,Supermarket Type2,1845.5976
8522,DRG01,Low Fat,0.044878,Soft Drinks,75.4670,OUT046,1997,Tier 1,Supermarket Type1,765.6700

In [15]:
sales_predictions['Item_Fat_Content'] = sales_predictions['Item_Fat_Content'].replace('low fat', 'Low Fat')
sales_predictions['Item_Fat_Content'] = sales_predictions['Item_Fat_Content'].replace('LF', 'Low Fat')
sales_predictions['Item_Fat_Content'].unique()

array(['Low Fat', 'Regular'], dtype=object)

In [16]:
sales_predictions.describe

<bound method NDFrame.describe of      Item_Identifier Item_Fat_Content  Item_Visibility              Item_Type  \
0              FDA15          Low Fat         0.016047                  Dairy
1              DRC01          Regular         0.019278            Soft Drinks
2              FDN15          Low Fat         0.016760                   Meat
3              FDX07          Regular         0.000000  Fruits and Vegetables
4              NCD19          Low Fat         0.000000              Household
...              ...              ...              ...                    ...
8518           FDF22          Low Fat         0.056783            Snack Foods
8519           FDS36          Regular         0.046982           Baking Goods
8520           NCJ29          Low Fat         0.035186     Health and Hygiene
8521           FDN46          Regular         0.145221            Snack Foods
8522           DRG01          Low Fat         0.044878            Soft Drinks

      Item_MRP Outlet_Identifier  Outlet_Establishment_Year  \
0     249.8092            OUT049                       1999
1      48.2692            OUT018                       2009
2     141.6180            OUT049                       1999
3     182.0950            OUT010                       1998
4      53.8614            OUT013                       1987
...        ...               ...                        ...
8518  214.5218            OUT013                       1987
8519  108.1570            OUT045                       2002
8520   85.1224            OUT035                       2004
8521  103.1332            OUT018                       2009
8522   75.4670            OUT046                       1997

     Outlet_Location_Type        Outlet_Type  Item_Outlet_Sales
0                  Tier 1  Supermarket Type1          3735.1380
1                  Tier 3  Supermarket Type2           443.4228
2                  Tier 1  Supermarket Type1          2097.2700
3                  Tier 3      Grocery Store           732.3800
4                  Tier 3  Supermarket Type1           994.7052
...                   ...                ...                ...
8518               Tier 3  Supermarket Type1          2778.3834
8519               Tier 2  Supermarket Type1           549.2850
8520               Tier 2  Supermarket Type1          1193.1136
8521               Tier 3  Supermarket Type2          1845.5976
8522               Tier 1  Supermarket Type1           765.6700

[8523 rows x 10 columns]>